body {
  font-family: 'Menlo', monospace;
  font-size: 12px;
  background-color: #f3f3e6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #aaaaa1;
  border-width: 7px;
  width: 6%
}

h1 {
  font-size: 30px;
  color: #aaaaa1;
}
